<div class="row my-4">
    <div class="col-md-12">
        <h3>Add Post</h3>
        <hr>
        <form [formGroup]="postForm" (ngSubmit)="onAddPost()">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Title</label>
                <input type="text" formControlName="title" class="form-control" id="exampleFormControlInput1"
                    placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                <textarea formControlName="description" class="form-control" id="exampleFormControlTextarea1"
                    rows="3"></textarea>
            </div>
            <div class="my-3">
                <button type="submit" [disabled]="!postForm.valid" class="btn btn-primary">
                    Add Post
                </button>
            </div>
        </form>
    </div>
</div>